        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: tahoma;
        }

        body {
            background: #f2f2f2;
            direction: rtl;
        }

        /* HEADER */

        header {
            background: linear-gradient(to left, #1b5e20);
            padding: 20px;
            color: white;
            text-align: center;
        }

        header h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        header p {
            font-size: 14px;
        }

        /* MENU */

        nav {
            background: #2e7d32;
        }

        nav nackground1 {
            background: #0d6812;
        }

        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            flex-wrap: wrap;
        }

        nav ul li {
            margin: 10px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 10px 18px;
            border-radius: 30px;
            transition: 0.3s;
            display: block;
        }

        nav ul li a:hover {
            background: #66bb6a;
        }

        /* MAIN */

        .container {
            width: 1200px;
            max-width: 95%;
            margin: 20px auto;
            display: grid;
            grid-template-columns: 250px 1fr 250px;
            gap: 20px;
        }

        .centertext {
            background: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .centertext h3 {
            background: #36863a;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        /*akhbar*/
        .akhbar h3 {
            background: #0e7413;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        /* SIDEBAR */

        .sidebar {
            background: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .sidebar h3 {
            background: #36863a;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        .sidebar ul {
            list-style: none;
        }

        .sidebar ul li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: #333;
        }

        .sidebar ul li a:hover {
            color: #2e7d32;
        }

        /*about website*/
        .h5 {
            color: #2e7d32;
            margin-bottom: 10px;
        }

        /*donaet link*/

        .btn-donate {
            display: inline-block;
            margin-top: 10px;
            background: #21a707;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .btn-donate:hover {
            background: rgb(17, 116, 177);
        }

        /* CONTENT */

        .content {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .news {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }

        .news h2 {
            color: #2e7d32;
            margin-bottom: 10px;
        }

        .news p {
            line-height: 2;
            color: #555;
        }

        .btn {
            display: inline-block;
            margin-top: 10px;
            background: #2e7d32;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .btn:hover {
            background: #43a047;
        }

        /* IMAGE BOX */

        .hero {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        /* STATS */

        .stats {
            margin-top: 20px;
        }

        .stats li {
            padding: 8px 0;
        }

        /* GALLERY */

        .gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .gallery img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
        }

        .gallery-dam {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .gallery-dam img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
        }

        /* FOOTER */

        footer {
            background: #1b5e20;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 30px;
        }

        /* RESPONSIVE */

        @media(max-width:900px) {

            .container {
                grid-template-columns: 1fr;
            }

            nav ul {
                flex-direction: column;
                align-items: center;
            }

        }

        @media(max-width:900px) {

            .container {
                grid-template-columns: 1fr;
            }

            nav ul {
                flex-direction: column;
                align-items: center;
            }

        }